header{
	font-family: 'Oxygen', sans-serif;
}

body{
    font-family: 'Oxygen', sans-serif;
}
p{
    font-family: 'Oxygen', sans-serif;
}
footer{
	font-family: 'Oxygen', sans-serif;
}

h1{
    font-family: 'Oxygen', sans-serif;
}

h2{
    font-family: 'Oxygen', sans-serif;
}

h3{
    font-family: 'Oxygen', sans-serif;
}

h4{
    font-family: 'Oxygen', sans-serif;
}

h5{
    font-family: 'Oxygen', sans-serif;
}

h6{
    font-family: 'Oxygen', sans-serif;
}
.cards_query{
    display: flex;
    text-align: justify;
    flex-direction: row;
    justify-content:space-around;

}
.row_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column_card{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.carousel_query{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.row_carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column_carousel{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.column_text{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.acercade_query{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.row_acercade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column_acercade{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacto_query{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.row_contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column_contacto{
    display: flex;
    flex-direction: column;
    width: 50%;
}    
.footer_query{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.row_footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column_footer{
    display: flex;
    flex-direction: column;
    width: 50%;
}
@media screen and (max-width: 1199.98px) {
    html {
        font-size: 150%;
    }
    .column_card {
        width: 50%;
    }
    .column_carousel{
        width: 100%;
    }
    .column_text{
        width: 100%;
    }    
    .column_acercade{
        width: 100%;
    }
    .column_footer{
        width: 100%;
    }
    .column_contacto{
        width: 100%;
    }
}
@media screen and (max-width: 991.98px){
    html {
        font-size: 250%;
    }
    .column_card {
        width: 100%;
    }
    .column_carousel{
        width: 100%;
    }
    .column_text{
        width: 100%;
    }
    .column_acercade{
        width: 100%;
    }
    .column_footer{
        width: 100%;
    }
    .column_contacto{
        width: 100%;
    }
}

#cardproyecto{
 height: 30rem;
}